## File 01 - User-level Preprocessed Data Output

In this file, we create the preprocessed user-level data with a few features.

Outputs:
- The preprocessed data file is output to `processed_data/preprocessed_01.parquet`.
- Additionally, the raw data is filtered on the preprocessed data user ids: `processed_data/month_01_filtered.parquet`, `processed_data/month_02_filtered.parquet`.

And then in script 02, we add additional features to the preprocessed data table for every row.

### Set up Spark session and data schema

We can specify more options in the SparkSession creator, but currently the options are at the default settings.

In [8]:
%%time
from pyspark.sql import SparkSession
from pyspark.sql import types as T
from pyspark.sql.functions import col

spark = SparkSession.builder \
        .appName("project") \
        .getOrCreate()

sc = spark.sparkContext

schema = "`event_time` TIMESTAMP,`event_type` STRING,`product_id` INT,`category_id` BIGINT,`category_code` STRING,`brand` STRING,`price` FLOAT,`user_id` INT,`user_session` STRING"
#ddl_schema = T._parse_datatype_string(schema)

CPU times: user 9.76 ms, sys: 8.73 ms, total: 18.5 ms
Wall time: 18.1 ms

### Read in dataframes

In [2]:
%%time
df1 = spark.read.schema(schema).csv("/project/ds5559/group12/raw_data/2020-01.csv")
df2 = spark.read.schema(schema).csv("/project/ds5559/group12/raw_data/2020-02.csv")

CPU times: user 3.34 ms, sys: 2.34 ms, total: 5.68 ms
Wall time: 1.8 s

### Limit number of records in dataframes

We can limit each dataframe to a smaller subset. Notably, the dataframe is arranged by time, so this is how the subset will be biased.

In [3]:
# df1=df1.limit(100000)
df1.createOrReplaceTempView("m1")

# df2=df11.limit(100000)
df2.createOrReplaceTempView("m2")

### Create a transformed table containing elements of interest for our model

We propose a basic table format (see https://docs.google.com/document/d/1NG4KGticBXn0D3PL5_zMxLV2Pr7A8PQtLcasxCOd1nA/edit).

Every row is a user_id who exists in M1 and may or may not exist in M2.
Columns include:
- `user_id` (ID)
- `m2_total_spend` (sum among all purchase events, NB: month 2. Will be 0 is user does not exist in month 2 or makes no purchase events)
- `m1_total_spend` (sum among all purchase events)
- `m1_user_sessions` (count of distinct user sessions/browsing sessions)
- `m1_purchase_events` (count of distinct purchase events)

Additional rows may have been added below.

In [4]:
%%time
df = spark.sql("""SELECT

               /* ID */
               m1.user_id AS user_id,
               
               /* Output: Total spend in month 2; Will be 0 is user does not exist in month 2 or makes no purchase events */
               IFNULL(SUM(m2.price),0) AS T_total_spend,
               
               
               /* Total spend in month 1: we sum the price of any 'purchase' events */
               SUM(CAST(m1.event_type=='purchase' AS INT) * m1.price) AS total_spend,
               
               /* Total events in month 1: includes all event types (multiple per session) */
               COUNT(m1.event_type) AS total_events,
               
               /* Total purchase events in month 1: we sum the occurence of any 'purchase' events */
               /* SUM(CAST(m1.event_type=='purchase' AS INT)) AS purchase_events, */
               
               /* Total user sessions in month 1: we count all distinct user sessions */
               COUNT(DISTINCT m1.user_session) AS total_sessions
               
               FROM m1
            
            /* Note: This is a left join, so purchasers in month 2 must be in month 1 to be included in the output */
            LEFT JOIN 
            (
               SELECT * FROM m2
               WHERE event_type='purchase'
            ) m2
            
            ON m1.user_id=m2.user_id
            
            /* Prevent adding bad data where user_id is null */
            WHERE ISNULL(m1.user_id)<>1
            
            GROUP BY m1.user_id ORDER BY total_events DESC""")
df.show(5)

+---------+--------------------+--------------------+------------+--------------+
|  user_id|       T_total_spend|         total_spend|total_events|total_sessions|
+---------+--------------------+--------------------+------------+--------------+
|568782581|2.3885857005200386E8| 5.821735228239441E7|      926856|           532|
|582826305|1.9694101198085403E8|1.7104022296691895E7|      605784|           123|
|563599039|2.3802253637968063E8| 6.886928014480591E7|      442758|           108|
|568805468|  2.09597173788414E8|  3391851.5849990845|      425169|          4636|
|592727922|1.1673367678547668E8|   8990452.824829102|      423648|            78|
+---------+--------------------+--------------------+------------+--------------+
only showing top 5 rows

CPU times: user 5.75 ms, sys: 7.08 ms, total: 12.8 ms
Wall time: 1min 13s

#### Remove customers who did not make a purchase in month 1.

In [9]:
df = df.filter(col('total_spend') > 0)

#### Filter the overall dataset to a subset in order to make sure that the output from the feature addition script is under 3GB; then write to Parquet file

In [18]:
%%time

# We can control this level to make the preprocessed data under 3 GB
split_level = 0.1 # percentage

kept_df, garbage_df = df.randomSplit([split_level, 1-split_level], seed=42)
kept_df.write.mode("overwrite").parquet("./processed_data/preprocessed_01.parquet")
print(kept_df.count())
kept_df.show(5)

36228
+---------+------------------+------------------+------------+--------------+
|  user_id|     T_total_spend|       total_spend|total_events|total_sessions|
+---------+------------------+------------------+------------+--------------+
|512479812|50881.730712890625|166.19000244140625|          73|             9|
|512562561|               0.0| 38.33000183105469|          82|            11|
|512583155|2888.1599731445312|443.65999603271484|          22|             4|
|512996234|               0.0| 81.95999908447266|          12|             4|
|513143907|               0.0|  965.219970703125|          15|             2|
+---------+------------------+------------------+------------+--------------+
only showing top 5 rows

CPU times: user 12.7 ms, sys: 11.3 ms, total: 24 ms
Wall time: 2min 27s

#### Write to CSV file

In [19]:
%%time
# Not necessary at this time, but this CSV can be written if desired
# kept_df.coalesce(1).write.option("header", "true").csv("./processed_data/temp_preprocessed_01.csv")

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.72 µs

#### Write the raw data, filtered on the appropriate user-ids, to files.

In [20]:
%%time
month_01_filtered = df1.join(kept_df,'user_id','leftsemi')
print(month_01_filtered.count())
month_01_filtered.show(5)

1598123
+---------+-------------------+----------+----------+-------------------+--------------------+------+------+--------------------+
|  user_id|         event_time|event_type|product_id|        category_id|       category_code| brand| price|        user_session|
+---------+-------------------+----------+----------+-------------------+--------------------+------+------+--------------------+
|512479812|2020-01-02 17:46:13|      view|   1004205|2053013563835941749|appliances.kitche...|xiaomi|205.67|4fcdf9e6-0ce4-4c3...|
|512479812|2020-01-02 17:46:42|      view|   1004402|2053013555631882655|electronics.smart...|xiaomi|246.79|4fcdf9e6-0ce4-4c3...|
|512479812|2020-01-02 17:47:07|      view|   1005159|2232732093077520756|construction.tool...|xiaomi|166.03|4fcdf9e6-0ce4-4c3...|
|512479812|2020-01-02 17:47:29|      view|   1005161|2232732093077520756|construction.tool...|xiaomi|177.35|4fcdf9e6-0ce4-4c3...|
|512479812|2020-01-02 17:49:58|      view|  49800004|2053013556168753601|       apparel.shirt|  null|  39.9|4fcdf9e6-0ce4-4c3...|
+---------+-------------------+----------+----------+-------------------+--------------------+------+------+--------------------+
only showing top 5 rows

CPU times: user 29.4 ms, sys: 24.4 ms, total: 53.8 ms
Wall time: 6min 57s

In [21]:
%%time
# Probably not actually needed
#month_02_filtered = df2.join(kept_df,'user_id','leftsemi')
#print(month_02_filtered.count())
#month_02_filtered.show(5)

CPU times: user 2 µs, sys: 2 µs, total: 4 µs
Wall time: 6.2 µs

In [22]:
%%time
month_01_filtered.write.mode("overwrite").parquet("./processed_data/month_01_filtered.parquet")

CPU times: user 27.7 ms, sys: 22.5 ms, total: 50.2 ms
Wall time: 6min 35s

In [ ]:
# %%time
# month_02_filtered.write.mode("overwrite").parquet("./processed_data/month_02_filtered.parquet")