## File 01 - Exploratory Data Analysis of Interaction-level Data

In this file, we open the CSV in which the interaction-level ecommerce data is stored and we run some Spark SQL queries on it.

### Set up Spark session and data schema

We can specify more options in the SparkSession creator, but currently the options are at the default settings.

In [1]:
%%time
from pyspark.sql import SparkSession
from pyspark.sql import types as T

spark = SparkSession.builder \
        .appName("project") \
        .getOrCreate()

sc = spark.sparkContext

# In the case of needing to specify a schema (recommended behavior), we can use this code to help design it rapidly
#   by using the default Spark settings and then making our own modifications.

# To infer schema without using all data:
# df = spark.read.option("header","true") \
#         .option("samplingRatio",0.001) \
#         .csv("/project/ds5559/group12/raw_data/2019-10.csv")
# To print the basic schema as a DDL:
# print(df._jdf.schema().toDDL())

# We have completed the above step (this is our more accurate schema)
# Defining the schema is unnecessary now that we are reading in parquets. 
#schema = "`event_time` TIMESTAMP,`event_type` STRING,`product_id` INT,`category_id` BIGINT,`category_code` STRING,`brand` STRING,`price` FLOAT,`user_id` INT,`user_session` STRING"
#ddl_schema = T._parse_datatype_string(schema)

CPU times: user 181 ms, sys: 139 ms, total: 321 ms
Wall time: 8.4 s

### Read in dataframe

In [2]:
%%time
df = spark.read.parquet("/project/ds5559/group12/raw_data/Filtered_Original.parquet")

CPU times: user 1.87 ms, sys: 2.08 ms, total: 3.95 ms
Wall time: 2.75 s

### Print number of records in dataframe

N.B.: this takes **>20 s** for perhaps one of the simplest possible operations. So we should be careful to take exploratory actions only on subsets of the data.

In [3]:
%%time
df.printSchema()
print(str(df.count())+" records")

root
 |-- event_time: timestamp (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: long (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: decimal(7,2) (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- user_session: string (nullable = true)

42448764 records
CPU times: user 3.43 ms, sys: 23 ms, total: 26.4 ms
Wall time: 31.3 s

### Limit number of records in dataframe

We can remove the category_id column, because it is a direct transformation of category_code (this could be turned into another table). It also helps make it easier to print the output here.

Next, we limit the dataframe to just a 5000-records subset. Notably, the dataframe is arranged by time, so this is how the subset will be biased.

In [4]:
df=df.drop("category_id")
df=df.limit(5000)
df.createOrReplaceTempView("records")

#### Print dataframe contents

In [5]:
%%time
spark.sql("SELECT * FROM records").show()

+-------------------+----------+----------+--------------------+--------+-------+---------+--------------------+
|         event_time|event_type|product_id|       category_code|   brand|  price|  user_id|        user_session|
+-------------------+----------+----------+--------------------+--------+-------+---------+--------------------+
|2019-10-01 00:00:00|      view|  44600062|                null|shiseido|  35.79|541312140|72d76fde-8bb3-4e0...|
|2019-10-01 00:00:00|      view|   3900821|appliances.enviro...|    aqua|  33.20|554748717|9333dfbd-b87a-470...|
|2019-10-01 00:00:01|      view|  17200506|furniture.living_...|    null| 543.10|519107250|566511c2-e2e3-422...|
|2019-10-01 00:00:01|      view|   1307067|  computers.notebook|  lenovo| 251.74|550050854|7c90fc70-0e80-459...|
|2019-10-01 00:00:04|      view|   1004237|electronics.smart...|   apple|1081.98|535871217|c6bd7419-2748-4c5...|
|2019-10-01 00:00:05|      view|   1480613|   computers.desktop|  pulser| 908.62|512742880|0d0d91c2-c9c2-4e8...|
|2019-10-01 00:00:08|      view|  17300353|                null|   creed| 380.96|555447699|4fe811e9-91de-46d...|
|2019-10-01 00:00:08|      view|  31500053|                null|luminarc|  41.16|550978835|6280d577-25c8-414...|
|2019-10-01 00:00:10|      view|  28719074|  apparel.shoes.keds|   baden| 102.71|520571932|ac1cd4e5-a3ce-422...|
|2019-10-01 00:00:11|      view|   1004545|electronics.smart...|  huawei| 566.01|537918940|406c46ed-90a4-478...|
|2019-10-01 00:00:11|      view|   2900536|appliances.kitche...|elenberg|  51.46|555158050|b5bdd0b3-4ca2-4c5...|
|2019-10-01 00:00:11|      view|   1005011|electronics.smart...| samsung| 900.64|530282093|50a293fb-5940-41b...|
|2019-10-01 00:00:13|      view|   3900746|appliances.enviro...|   haier| 102.38|555444559|98b88fa0-d8fa-4b9...|
|2019-10-01 00:00:15|      view|  44600062|                null|shiseido|  35.79|541312140|72d76fde-8bb3-4e0...|
|2019-10-01 00:00:16|      view|  13500240|furniture.bedroom...|     brw|  93.18|555446365|7f0062d8-ead0-4e0...|
|2019-10-01 00:00:17|      view|  23100006|                null|    null| 357.79|513642368|17566c27-0a8f-450...|
|2019-10-01 00:00:18|      view|   1801995|electronics.video.tv|   haier| 193.03|537192226|e3151795-c355-4ef...|
|2019-10-01 00:00:18|      view|  10900029|appliances.kitche...|   bosch|  58.95|519528062|901b9e3c-3f8f-414...|
|2019-10-01 00:00:19|      view|   1306631|  computers.notebook|      hp| 580.89|550050854|7c90fc70-0e80-459...|
|2019-10-01 00:00:19|      view|   1005135|electronics.smart...|   apple|1747.79|535871217|c6bd7419-2748-4c5...|
+-------------------+----------+----------+--------------------+--------+-------+---------+--------------------+
only showing top 20 rows

CPU times: user 2.09 ms, sys: 1.04 ms, total: 3.13 ms
Wall time: 8.74 s

#### Top prices among all event types

In [6]:
%%time
spark.sql("SELECT * FROM records ORDER BY price DESC").show(20)

+-------------------+----------+----------+--------------------+------+-------+---------+--------------------+
|         event_time|event_type|product_id|       category_code| brand|  price|  user_id|        user_session|
+-------------------+----------+----------+--------------------+------+-------+---------+--------------------+
|2019-10-01 02:26:24|      view|  21407288|  electronics.clocks|  rado|2574.07|527321544|b25dd047-7fec-489...|
|2019-10-01 02:26:42|      view|  29900054|                null|  peda|2557.59|555463012|ff140fa7-261d-495...|
|2019-10-01 02:23:25|      view|   1304849|  computers.notebook|  acer|2552.93|539527768|9df85aec-00be-464...|
|2019-10-01 02:23:40|      view|  21406787|  electronics.clocks|  null|2522.59|543091275|6a07dd91-2a76-48b...|
|2019-10-01 02:20:45|      view|   1305977|  computers.notebook| apple|2496.59|519578504|2a4700ff-7ff2-466...|
|2019-10-01 02:24:06|      view|   1306449|  computers.notebook|  acer|2293.24|539527768|9df85aec-00be-464...|
|2019-10-01 02:23:38|      view|   1306571|  computers.notebook|  acer|2264.92|539527768|9df85aec-00be-464...|
|2019-10-01 02:24:23|      view|   1700796|computers.periphe...|  asus|2202.24|555462575|5ffa5556-648d-45c...|
|2019-10-01 02:22:30|      view|  21406789|  electronics.clocks|  null|2162.22|539457640|d3539980-092d-4b0...|
|2019-10-01 02:23:56|      view|  21406789|  electronics.clocks|  null|2162.22|539457640|d3539980-092d-4b0...|
|2019-10-01 02:28:00|      view|  21406789|  electronics.clocks|  null|2162.22|512549598|b5f38603-c34b-493...|
|2019-10-01 02:19:51|      view|   5100798|  electronics.clocks|garmin|2160.92|479233261|44dd8d4a-5fa0-44a...|
|2019-10-01 02:20:16|      view|   5100798|  electronics.clocks|garmin|2160.92|512865812|b498b6a4-b623-437...|
|2019-10-01 02:20:40|      view|   5100798|  electronics.clocks|garmin|2160.92|479233261|44dd8d4a-5fa0-44a...|
|2019-10-01 02:27:53|      view|  21401546|  electronics.clocks| casio|2075.73|512975726|2885756b-57f6-487...|
|2019-10-01 02:21:35|      view|   1005142|electronics.smart...| apple|2072.10|522725716|5ce8748a-2b2f-452...|
|2019-10-01 02:19:15|      view|   1005139|electronics.smart...| apple|2072.10|527049978|62164f60-662f-4a7...|
|2019-10-01 02:28:00|      view|   1005139|electronics.smart...| apple|2072.10|536881715|d34f01c0-f623-4bc...|
|2019-10-01 02:22:08|      view|   1005142|electronics.smart...| apple|2072.10|522607262|d41b11b4-fadf-4d3...|
|2019-10-01 02:28:04|      view|   1005142|electronics.smart...| apple|2072.10|512367412|3f579602-c425-468...|
+-------------------+----------+----------+--------------------+------+-------+---------+--------------------+
only showing top 20 rows

CPU times: user 1.83 ms, sys: 1.05 ms, total: 2.88 ms
Wall time: 5.93 s

#### Who has bought how much

Note: Sum of prices purchased and number of purchases made are not directly correlated. This could lead to an interesting feature about multiple items being bought simultaneously vs. being bought one at a time over a long length of time.

In [7]:
%%time
spark.sql("SELECT COUNT(*) AS purchases_made, SUM(price), user_id FROM records WHERE event_type=='purchase' GROUP BY user_id ORDER BY COUNT(*) DESC").show(10,False)

+--------------+----------+---------+
|purchases_made|sum(price)|user_id  |
+--------------+----------+---------+
|3             |525.62    |555110488|
|2             |213.65    |517953667|
|2             |804.67    |551377651|
|2             |4.25      |514127317|
|2             |181.12    |549614436|
|1             |130.76    |543272936|
|1             |54.42     |555332717|
|1             |29.51     |514591159|
|1             |189.91    |524601178|
|1             |515.67    |524325294|
+--------------+----------+---------+
only showing top 10 rows

CPU times: user 1.79 ms, sys: 722 Âµs, total: 2.51 ms
Wall time: 2.36 s

#### Distribution of actions

In [8]:
%%time
spark.sql("SELECT COUNT(*), event_type FROM records GROUP BY event_type ORDER BY COUNT(*) DESC").show()

+--------+----------+
|count(1)|event_type|
+--------+----------+
|    4896|      view|
|      54|  purchase|
|      50|      cart|
+--------+----------+

CPU times: user 1.33 ms, sys: 1.01 ms, total: 2.33 ms
Wall time: 1.56 s