## File 01 - Preprocessed Data Output (Step 1)
##### Group 12:

##### Hannah Schmuckler, mmc4cv

##### Rob Schwartz, res7cd

In this file, we create the scaffolding of the preprocessed user-level data from event-level data, with a few features. The event-level data is given with 1 record equal to one interaction, while the user-level data is given with 1 record equal to one user. Each row in the output data represents one user who exists in the first month.

Outputs:
- The preprocessed data file is output to `processed_data/preprocessed_01.parquet`.
- Additionally, the raw data is filtered on the preprocessed data user ids: `processed_data/month_01_filtered.parquet`,

### Set up Spark session and data schema

We can specify more options in the SparkSession creator, but currently the options are at the default settings.

In [1]:
%%time
from pyspark.sql import SparkSession
from pyspark.sql import types as T
from pyspark.sql.functions import col

spark = SparkSession.builder \
        .appName("project") \
        .getOrCreate()

sc = spark.sparkContext

schema = "`event_time` TIMESTAMP,`event_type` STRING,`product_id` INT,`category_id` BIGINT,`category_code` STRING,`brand` STRING,`price` FLOAT,`user_id` INT,`user_session` STRING"
#ddl_schema = T._parse_datatype_string(schema)

CPU times: user 163 ms, sys: 126 ms, total: 289 ms
Wall time: 4.21 s

### Read in dataframes

In [2]:
%%time
# Be sure that you have downloaded the data from either
# - https://www.kaggle.com/datasets/mkechinov/ecommerce-behavior-data-from-multi-category-store
# - https://drive.google.com/drive/folders/1Nan8X33H8xrXS5XhCKZmSpClFTCJsSpE
# Then we are using January and Febrary 2020.

df1 = spark.read.schema(schema).csv("/project/ds5559/group12/raw_data/2020-01.csv")
df2 = spark.read.schema(schema).csv("/project/ds5559/group12/raw_data/2020-02.csv")

CPU times: user 2.32 ms, sys: 1.17 ms, total: 3.49 ms
Wall time: 1.38 s

### Create temp views

In [3]:
# For Spark SQL
df1.createOrReplaceTempView("m1")
df2.createOrReplaceTempView("m2")

### Create a transformed table containing elements of interest for our model

We propose a basic table format (see https://docs.google.com/document/d/1NG4KGticBXn0D3PL5_zMxLV2Pr7A8PQtLcasxCOd1nA/edit).

Every row is a user_id who exists in M1 and may or may not exist in M2.
Columns include:
- `user_id` (ID)
- `total_spend` (sum among all purchase events in month 1)
- `total_events` (count of distinct user actions during month 1)
- `user_sessions` (count of distinct user sessions/browsing sessions during month 1)

In [4]:
%%time
df = spark.sql("""SELECT

               /* ID */
               m1.user_id AS user_id,
               
               /* Total spend in month 1: we sum the price of any 'purchase' events */
               SUM(CAST(m1.event_type=='purchase' AS INT) * m1.price) AS total_spend,
               
               /* Total events in month 1: includes all event types (multiple per session) */
               COUNT(m1.event_type) AS total_events,
               
               /* Total user sessions in month 1: we count all distinct user sessions */
               COUNT(DISTINCT m1.user_session) AS total_sessions
               
               FROM m1
               
            /* Note: This is a left join, so purchasers in month 2 must be in month 1 to be included in the output */
            LEFT JOIN
            (
               SELECT
                 user_id,
                 SUM(m2.price) AS price FROM m2
                 
               WHERE event_type='purchase'
               GROUP BY m2.user_id
            ) m2
           
            ON m1.user_id=m2.user_id
           
            /* Prevent adding bad data where user_id is null */
            WHERE ISNULL(m1.user_id)<>1

            GROUP BY m1.user_id ORDER BY total_events DESC
           
            """)
df.show(5)

+---------+-----------------+------------+--------------+
|  user_id|      total_spend|total_events|total_sessions|
+---------+-----------------+------------+--------------+
|597644399|              0.0|       41280|         40188|
|569335945|              0.0|       23058|         23057|
|594718064|              0.0|       16347|         15890|
|597514055|              0.0|       13717|         12952|
|568804062|172.9600067138672|       11479|          9149|
+---------+-----------------+------------+--------------+
only showing top 5 rows

CPU times: user 4.23 ms, sys: 4.66 ms, total: 8.89 ms
Wall time: 51.5 s

#### Remove customers who did not make a purchase in month 1.
We do this because it is unlikely that we

In [5]:
df = df.filter(col('total_spend') > 0)

In [20]:
#df.count()

359105

#### Create response variable (individual level) of total spend in month 2 (T_total_spend), join with month 1 data, and fill nulls with 0

In [21]:
total_spend_response = df2.filter(col('event_type') == "purchase").groupBy(col('user_id')).sum('price').withColumnRenamed('sum(price)', "T_total_spend")

In [22]:
%%time
df = df.join(total_spend_response, df.user_id == total_spend_response.user_id, 'leftouter').drop(total_spend_response.user_id)

#df.show()
#df.count()

+---------+------------------+------------+--------------+------------------+
|  user_id|       total_spend|total_events|total_sessions|     T_total_spend|
+---------+------------------+------------+--------------+------------------+
|512372691|146.91000366210938|          33|             3| 429.9599914550781|
|512407417| 805.9299926757812|          42|            11|              null|
|512423995|129.99000549316406|          88|            11|              null|
|512428523| 5860.260070800781|          34|             7|              null|
|512445637|27.799999237060547|          50|             7|              null|
|512448189| 267.2900085449219|           9|             1|328.29998779296875|
|512460113|  96.5199966430664|          13|             4| 133.2599983215332|
|512479812|166.19000244140625|          73|             9|  697.010009765625|
|512510580|28.829999923706055|          78|            19|             262.5|
|512513760| 94.47000122070312|         160|            41| 401.0400085449219|
|512517137|243.72999572753906|          13|             3|              null|
|512541716| 250.7100067138672|          53|            16|              null|
|512547480| 336.5299987792969|          37|             6|              null|
|512550513|171.69000244140625|         223|            47|22.200000762939453|
|512552482|  62.5099983215332|          85|            14|              null|
|512555062| 865.9000244140625|          30|             7|              null|
|512562561| 38.33000183105469|          82|            11|              null|
|512562754| 40.93000030517578|         322|            38|              null|
|512583155|443.65999603271484|          22|             4|131.27999877929688|
|512596570| 859.5499877929688|         143|            21|              null|
+---------+------------------+------------+--------------+------------------+
only showing top 20 rows

CPU times: user 8.54 ms, sys: 5.75 ms, total: 14.3 ms
Wall time: 1min 8s

359105

In [16]:
df = df.fillna(0.0, "T_total_spend")
#df.show()

+---------+------------------+------------+--------------+------------------+
|  user_id|       total_spend|total_events|total_sessions|     T_total_spend|
+---------+------------------+------------+--------------+------------------+
|512372691|146.91000366210938|          33|             3| 429.9599914550781|
|512407417| 805.9299926757812|          42|            11|               0.0|
|512423995|129.99000549316406|          88|            11|               0.0|
|512428523| 5860.260070800781|          34|             7|               0.0|
|512445637|27.799999237060547|          50|             7|               0.0|
|512448189| 267.2900085449219|           9|             1|328.29998779296875|
|512460113|  96.5199966430664|          13|             4| 133.2599983215332|
|512479812|166.19000244140625|          73|             9|  697.010009765625|
|512510580|28.829999923706055|          78|            19|             262.5|
|512513760| 94.47000122070312|         160|            41| 401.0400085449219|
|512517137|243.72999572753906|          13|             3|               0.0|
|512541716| 250.7100067138672|          53|            16|               0.0|
|512547480| 336.5299987792969|          37|             6|               0.0|
|512550513|171.69000244140625|         223|            47|22.200000762939453|
|512552482|  62.5099983215332|          85|            14|               0.0|
|512555062| 865.9000244140625|          30|             7|               0.0|
|512562561| 38.33000183105469|          82|            11|               0.0|
|512562754| 40.93000030517578|         322|            38|               0.0|
|512583155|443.65999603271484|          22|             4|131.27999877929688|
|512596570| 859.5499877929688|         143|            21|               0.0|
+---------+------------------+------------+--------------+------------------+
only showing top 20 rows

In [17]:
df.write.mode("overwrite").parquet("./processed_data/preprocessed_01.parquet")
#print(df.count())
#df.show(5)

#### Write to CSV file

In [23]:
%%time
# Not necessary at this time, but this CSV can be written if desired
# kept_df.coalesce(1).write.option("header", "true").csv("./processed_data/temp_preprocessed_01.csv")

CPU times: user 1 µs, sys: 2 µs, total: 3 µs
Wall time: 5.96 µs

#### Write the raw data, filtered on the appropriate user-ids, to files.

In [6]:
%%time
# month_01_filtered = df1.join(kept_df,'user_id','leftsemi')
month_01_filtered = df1.join(df,'user_id','leftsemi')
#print(month_01_filtered.count())
#month_01_filtered.show(5)

CPU times: user 615 µs, sys: 729 µs, total: 1.34 ms
Wall time: 11 ms

In [8]:
month_01_filtered.count()

15923973

In [9]:
%%time
month_01_filtered.write.mode("overwrite").parquet("./processed_data/month_01_filtered.parquet")

CPU times: user 12.1 ms, sys: 12.4 ms, total: 24.5 ms
Wall time: 2min 45s